
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-top: 4vh;
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 80%;
  max-width: 800px;
}

.nav-item {
  padding: 2px 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--forest);
  font-size: 1.2rem;
  position: relative;
  transition: color 0.3s;
}

.nav-item:hover {
  color: var(--forest);
  opacity: 0.5;
}

.slider {
  position: absolute;
  bottom: 0px;
  height: 1px;
  background-color: var(--forest);
  transition: all 0.3s ease-in-out;
  width: var(--slider-width);
  left: var(--slider-left);
}

.mobile-title {
  display: none;
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--forest);
  font-size: 1.2rem;
  z-index: 101;
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
  }
  
  .mobile-title {
    display: block;
  }
  
  .nav-container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    width: 100%;
    height: 100%;
    background: var(--coconut);
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 100;
    opacity: 1;
    pointer-events: auto;
    transition: transform 0.3s ease;
    transform-origin: center;
    will-change: transform;
  }
  
  .nav-container:not(.show) {
    transform: translate(-50%, -50%) scaleY(0);
  }

  .nav-item {
    font-weight: normal;
  }

  .nav-item.selected {
    font-weight: bold;
  }

  .slider {
    display: none;
  }
}
